/* body {
    margin-left: 0;
} */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s ease-in-out;
    /* 0.5 second transition effect to slide in the sidenav */
}

.aside__button {
    color: #1c92d2;
    background: transparent;
    border: none;
    z-index: 2;
    transition: transform 0.5s linear;
}

.aside__button:hover {
    background-color: #1c92d2 !important;
    color: #fff!important;
    border: none !important;
    z-index: 2 !important;
    /* transition: 0.s linear; */
    /* border-color: #8c8c8c; */
}

.aside__button:active,
.aside__button:focus {
    background: #1c92d2 !important;
    color: #fff !important;
    border: none !important;
    z-index: 2;
    outline: #1c92d2;
    /* transition: 1s linear; */
}