/* body {
    margin-left: 0;
} */

a,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    color: #262A39;
}

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow: hidden;
    /* Disable horizontal scroll */
    /* padding-top: 10px; */
    /* Place content 60px from the top */
    transition: 0.5s ease-in;
    /* 0.5 second transition effect to slide in the sidenav */
}

.aside__button {
    color: #1c92d2;
    background: white;
    border: 1px solid transparent;
    z-index: 2;
    font-size: 14px;
    padding-top: 2px;
    margin-right: 5px;
}

.aside__button2 {
    display: flex;
    justify-content: center;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    height: 48px;
    color: #fff;
    background: white;
    border: 1px solid transparent;
    z-index: 2;
    font-size: 14px;
    padding-top: 2px;
    transition: 0.1s linear;
    outline: none;
    /* margin-right: 1px; */
}


/* .glyphicon {
    transition: transform 2s linear;
} */

.aside__button:hover {
    background-color: #1c92d2 !important;
    color: #fff!important;
    border: none !important;
    z-index: 2 !important;
    /* transition: 0.s linear; */
    /* border-color: #8c8c8c; */
}

.aside__button:active,
.aside__button:focus {
    background: #1c92d2 !important;
    color: #fff !important;
    border: none !important;
    z-index: 2;
    outline: #1c92d2;
    /* transition: 1s linear; */
}

.mysidebarprimarycontent {
    padding: 0;
    margin: 0;
}

.mysidebarprimarycontent__list {
    margin-left: -40px;
    list-style: none;
}

.mysidebarprimarycontent__list li {
    color: #262A39;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    border-bottom: 0.1px solid #262A39;
    padding: 5px 10px 8px;
    font-size: 12px;
    font-weight: 500;
}

.mysidebarprimarycontent__list .list__item {
    padding: 10px;
}

.mysidebarprimarycontent__list li .navbar__logo {
    padding-top: 10px;
}

.list__item a:hover,
.list__item:hover,
.mysidebarprimarycontent__list .list__logo,
.mysidebarprimarycontent__list .home {
    color: #1c92d2;
    border-bottom-color: #1c92d2;
}